<%- include('../partials/head')%>


    <h1 class="title">Leer todos los productos</h1>
    <div class="product-container">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre de producto</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th></th>
            </tr>
            <%products.forEach(product=> { %>
                <tr>
                    <td>
                        <%= product.id %>
                    </td>
                    <td>
                        <%= product.nombre_producto %>
                    </td>
                    <td>
                        <%= product.marca %>
                    </td>
                    <td>
                        <%= product.categoria %>
                    </td>
                    <td>
                        <%= product.precio %>
                    </td>
                    <td>
                        <button>
                            <a href="/admin/productoactual/<%= product.id%>">Editar</a>
                        </button>

                        <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="post">
                            <button>Eliminar</button>
                        </form>
                    </td>
                </tr>

                <%}) %>

        </table>

    </div>

    <div>
        <button class="btn-agregar"><a href="/admin/agregate">Agregar productos</a></button>
    </div>

    <%- include('../partials/footer')%>