<%- include('../partials/head')%>



<div>
<h1 class="title-shop">Todos los productos</h1>
<button class="BTN-shop"><a href="/">Volver</a></button>
</div>


<div class="product-container">
    <% products.forEach(product => { %>
        <div class="product-card">
            <img src="/images/<%= product.imagen %>" alt="<%= product.nombre_producto %>" class="product-image">
            <h2><%= product.nombre_producto %></h2>
            <p class="description"><%= product.descripcion %></p>
            <p class="price">Precio: <%= product.precio %></p>

            <form action="/cart/add" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit">Añadir al Carrito</button>
            </form>
        </div>
    <% }); %>
</div>

<%- include('../partials/footer')%>
